<div ng-controller="AddCtrl">
    <form role="form">
        <div class="form-group">
            <label>Date</label>
            <input  type="text"
                    class="form-control"
                    datepicker-popup="yyyy-MM-dd"
                    ng-model="day"
                    close-text="Close" />
        </div>
        <div class="form-group">
            <label>Time</label>
            <timepicker hour-step="1" minute-step="1" show-meridian="true" ng-model="time"></timepicker>
        </div>
        <div class="form-group">
            <label>Key</label>
            <input  type="text"
                    ng-model="newKey"
                    placeholder="Key"
                    typeahead="key for key in keys | filter:$viewValue"
                    class="form-control">
        </div>
        <div class="form-group">
            <label>Value</label>
            <input  type="text"
                    ng-model="newValue"
                    placeholder="Value"
                    typeahead="value for value in getSuggestedValues(newKey) | filter:$viewValue"
                    class="form-control">
        </div>
        <button ng-click="addProperty(newKey, newValue); newKey = ''; newValue = '';">+</button><br/>
        <button ng-click="saveEvent();">Save</button>
        <button ng-click="deleteEvent();">Delete</button>
    </form>
    <pre>{{ event |json }}</pre>
</div>
